@import "../assets/sass/style.scss";
@import "table";
@import "guide";
@import "navbar";

.container{
  max-width: 1380px;
}

code{
  background: #e9eef1;
}

//Navbar
.navbar {
  padding: 20px 0;
  background-color: #383838;
  color: getcolor("primary.base");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  @include e(header) {
    h1 {
      font-size: 16px;
      color: getColor("white.base");
    }
  }

   @include e(flex) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include m(sticky) {
    position: sticky;
    top: 0;
    z-index: 2;
  }


 @include e(left) {
    display: flex;
    align-items: center;
  }
}


//Sidebar
.sidebar {
  width: 250px;
  height: 100%;
  position: sticky;
  top: 120px;
  padding: getSpacing("6x");
  background-color: #f1f1f1;
  border-radius: 10px;
  @include m(bordered-right-1x) {
     border-right: 1px solid lighten(#9cb2bf, 20%);
  }
}

.guide-wrapper{
  padding-top: 80px;
}

.guide-content {
  flex: 1;
  @include e(inner) {
    padding-top: 120px;
  }
}
.lead-text {
  font-size: 20px;
  margin: 6px 0;
}

.page {
  margin-top: 40px;
  color: getColor("black.base");
  @include e(title) {
    font-size: 2rem;
    font-weight: 300;
  }
  @include e(text) {
    font-size: 18px;
    color: getColor("black.base");
    margin: 12px 0 0;
  }
  @include e(content) {
   color: getColor("black.base");
    line-height: 18px;
    margin-top: 12px;
  }
  @include e(file-structure) {
    ul {
      li {
        list-style-type: disc;
        margin: 4px 0 0 20px;
        span {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }

  @include e(brief) {
    margin-top: 4px;
    line-height: 20px;
  }

  @include e(list-heading) {
    margin-top: 16px;
    display: block;
  }
  .content-block {
    margin: 42px 0;
  }
  .code-block {
    background-color: #f1f1f1;
    padding: 16px;
  }

  .usage-markup-preview {
    margin-bottom: 20px;
    background: #eee;
    padding: getSpacing('5x');
    @include m(m-top) {
      margin-top: 20px;
    }
  }
}

.color-box {
  .strong-title {
    margin-top: 8px !important;
    font-weight: bold;
  }
}

.color-box-1 {
  p {
    color: getColor("primary.base");
  }
}

.color-box-2 {
  p {
    color: getColor("danger.light");
  }
}

.color-box-3 {
  p {
    color: getColor("grey.4");
  }
}


.guide-wrapper {
    h1, h2, h3, h4, h5, h6{
      margin-bottom: getSpacing('3x');
    }
  
    h3{
      font-size: 20px;
    }
    h4:not(.menu-group__title){
      font-size: 18px;
    }
  
    p{
      line-height: 1.4;
      margin-bottom: getSpacing('5x');
    }
  
    ul{
      margin-bottom: getSpacing('5x');

      &.list-style{
        list-style-type: disc;
        margin-left: getSpacing('6x');
      }

      li{
        list-style: none;
        margin-left: 0;
      }
    }
    li:not(.react-tabs__tab){
      margin-bottom: getSpacing('2x');
    }
  }
  
  .doc-title {
    font-weight: 300;
    font-size: 32px;
  }
  code {
    padding: getSpacing("1x");
    margin: 0 getSpacing("1x");
    font-size: 12px;
   background-color: #e9eef1;
    border-radius: 2px;
    color: getColor("danger.base");
  }
  
  .code-preview {
    width: 100%;
    margin: 0;
    pre {
      padding: getSpacing('5x') !important;
      overflow-y: hidden;
      white-space: pre;
    }
    code {
      padding: 0;
      margin: 0;
      background: transparent;
      color: inherit;
    }
  }
  
  .kit-landing-page {
    height: 100vh;
  }
  
  .menu-group {
    margin-bottom: 20px;
    @include e(title) {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      border-bottom: 1px solid rgba($black, 0.1);
      padding-bottom: getSpacing("2x");
      margin-bottom: 8px;
    }
    @include e(nodes) {
      padding: 0;
      @include e(single) {
       color: getColor("black.base");
        display: block;
        margin-bottom: 12px;
        font-weight: 600;
        &:hover {
          color: rgba($black, 0.8);
        }
        @include m(active) {
         color: getColor("primary.base");
        }
      }
    }
  }
  
  
  
  .docs-container{

    .row{
      > [class^="col-"]{
       border: 1px solid rgba($black, 0.1);
        padding: 12px 16px;
        background: #f8f8f8;
      }

      + .row{
        margin-top: getSpacing('5x');
      }
    }
  }

.example-row > div{
border: 1px solid rgba(getColor('primary.base'),0.5);
background: rgba(getColor('primary.base'),0.25);
}
  
  .title-area{
    margin-bottom: 30px;
  }
  
  .table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  
    th{
        text-align: -webkit-match-parent;
        white-space: nowrap;
    }
  
    td, th{
        padding: 10px;
        border-bottom: 1px solid rgb(222, 226, 230);
        border-collapse: collapse;
        white-space: nowrap;
    } 
  }
  

  .docs-info{
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgba(getColor('primary.base'),0.25);
    border-left: 0.25rem solid rgba(getColor('primary.base'),0.5);
  }

  .eg-box{
    background: rgba(getColor('primary.base'),0.25);
    padding: 0.5rem;
    border: 1px solid rgba(getColor('primary.base'),0.5);

    .flex-wrap & {
      width: 100%;
    }
  }