// ==========================================================================
// Config
// Define variables, maps and fonts at this partial.
// ==========================================================================

// Base font size

$base__header__line: 1.25 !default;
$base__body__line: 1.5 !default;
$base__font-size: 16 !default;

//Default Spacing Unit
$defaultSpacing: rem(4);

//Path to Assets
$path--rel: '../images';

// ==========================================================================
// Features
// Set true to enable features
// ==========================================================================

// Utility Classes
$generate-font-classes: true;
$generate-color-classes: true;
$generate-button-classes: true;
$generate-font-case-classes: true;
$generate-font-style-classes: true;
$generate-font-weight-classes: true;
$generate-header-font-classes: true;
$generate-text-alignment-classes: true;
$generate-font-decoration-classes: true;
$generate-responsive-classes: true;

$generate-radius-classes: true;
