$align-content: (
  "name": "align-content",
  "responsive": true,
  "values": (
    stretch: stretch,
    center: center,
    start: flex-start,
    end: flex-end,
    between: space-between,
    around: space-around,
    initial: initial,
    inherit: inherit,
  ),
);

$align-items: (
  "name": "align-items",
  "responsive": true,
  "values": (
    stretch: stretch,
    center: center,
    start: flex-start,
    end: flex-end,
    base: baseline,
  ),
);

$align-self: (
  "name": "align-self",
  "responsive": true,
  "values": (
    auto: auto,
    stretch: stretch,
    center: center,
    start: flex-start,
    end: flex-end,
    baseline: baseline,
    initial: initial,
    inherit: inherit,
  ),
);

$border-radius: (
  "name": "border-radius",
  "prefix": "radius",
  "responsive": true,
  "values": (
    1: 4px,
    2: 6px,
    3: 8px,
    4: 12px,
    5: 24px,
    6: 32px,
    full: 50%,
    pill: 50rem,
  ),
);

$box-shadow: (
  "name": "box-shadow",
  "prefix": "shadow",
  "responsive": true,
  "values": (
    none: none,
    normal: 0 0.5rem 1rem black,
    1: 0 0.125rem 0.25rem black,
    2: 0 1rem 3rem black,
    inset: inset 0 1px 2px black,
  ),
);

$direction: (
  "name": "flex-direction",
  "prefix": "flex",
  "responsive": true,
  "values": (
    row: row,
    row-reverse: row-reverse,
    column: column,
    column-reverse: column-reverse,
  ),
);

$display: (
  "name": display,
  "responsive": true,
  "prefix": d,
  "values": (
    block: block,
    inline: inline,
    inline-block: inline-block,
    flex: flex,
    inline-flex: inline-flex,
    inline-table: inline-table,
    list-item: list-item,
    table: table,
    table-caption: table-caption,
    table-column-group: table-column-group,
    table-header-group: table-header-group,
    table-footer-group: table-footer-group,
    table-row-group: table-row-group,
    table-cell: table-cell,
    table-column: table-column,
    table-row: table-row,
    none: none,
  ),
);

$grow: (
  "name": "flex-grow",
  "responsive": true,
  "values": (
    0: 0,
    1: 1,
  ),
);

$height: (
  "name": "height",
  "prefix": "h",
  "responsive": true,
  "values": (
    auto: auto,
    100: 100%,
    100vh: 100vh,
    50: 50%,
  ),
);

$justify-content: (
  "name": "justify-content",
  "responsive": true,
  "values": (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    initial: initial,
    inherit: inherit,
  ),
);

$order: (
  "name": order,
  "responsive": true,
  values: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
  ),
);

$width: (
  "name": width,
  "prefix": w,
  "responsive": true,
  "values": (
    auto: auto,
    100: 100%,
    100vw: 100vw,
  ),
);

$wrap: (
  "name": "flex-wrap",
  "prefix": flex,
  "responsive": true,
  "values": (
    wrap: wrap,
    nowrap: nowrap,
    wrap-reverse: wrap-reverse,
  ),
);

$text-alignment: (
  "name": "text-align",
  "prefix": "text",
  "responsive": true,
  "values": (
    center: center,
    left: left,
    right: right,
  ),
);

$font-weight: (
  "name": "font-weight",
  "prefix": "fw",
  "responsive": true,
  "values": (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
);

$text-decoration: (
  "name": "text-decoration",
  "prefix": "text",
  "responsive": true,
  "values": (
    striked: line-through,
    underline: underline,
  ),
);

$text-transform: (
  "name": "text-transform",
  "prefix": "text",
  "responsive": true,
  "values": (
    uppercase: uppercase,
    lowercase: lowercase,
    capitalize: capitalize,
  ),
);

$font-style: (
  "name": "font-style",
  "prefix": "font",
  "responsive": true,
  "values": (
    normal: normal,
    italic: italic,
  ),
);
