$utilities: (
	justify-content: (
		start: flex-start,
		end: flex-end,
		center: center,
		between: space-between,
		around: space-around,
		initial: initial,
		inherit: inherit,
	),
	align-items: (
		stretch: stretch,
		center: center,
		start: flex-start,
		end: flex-end,
		base: baseline,
	),
	align-self: (
		auto: auto,
		stretch: stretch,
		center: center,
		start: flex-start,
		end: flex-end,
		baseline: baseline,
		initial: initial,
		inherit: inherit,
	),
	align-content: (
		stretch: stretch,
		center: center,
		start: flex-start,
		end: flex-end,
		between: space-between,
		around: space-around,
		initial: initial,
		inherit: inherit,
	),
	flex: (
		row: row,
		row-reverse: row-reverse,
		column: column,
		column-reverse: column-reverse,
		wrap: wrap,
		nowrap: nowrap,
	),
	display: (
		block: block,
		inline: inline,
		inline-block: inline-block,
		flex: flex,
		inline-flex: inline-flex,
		inline-table: inline-table,
		list-item: list-item,
		table: table,
		table-caption: table-caption,
		table-column-group: table-column-group,
		table-header-group: table-header-group,
		table-footer-group: table-footer-group,
		table-row-group: table-row-group,
		table-cell: table-cell,
		table-column: table-column,
		table-row: table-row,
		none: none,
	),
	order: (
		1: 1,
		2: 2,
		3: 3,
		4: 4,
		5: 5,
		6: 6,
		7: 7,
		8: 8,
		9: 9,
		10: 10,
	),

	width: (
		auto: auto,
		100: 100%,
	),

	height: (
		auto: auto,
		100: 100%,
	),

	radius: $radius,
	shadow: $shadow,
);
