/* 
$key: display,
$nestKey: block,
$breakpoint: xxl,
$breakpointVal: 1400,
*/

@mixin utilities($name) {
	@each $breakpoint, $breakpointVal in $grid-breakpoints {
		@each $key, $val in $name {
			@if $breakpoint != 'xs' {
				@include mq($breakpoint) {
					@each $nestKey, $nestVal in $val {
						@if $key == 'display' {
							.d-#{$breakpoint}-#{$nestKey} {
								#{$key}: #{$nestVal};
							}
						} @else if $key == 'direction' {
							.flex-#{$breakpoint}-#{$nestKey} {
								flex-#{$key}: #{$nestVal};
							}
						} @else if $key == 'wrap' {
							.flex-#{$breakpoint}-#{$nestKey} {
								flex-#{$key}: #{$nestVal};
							}
						} @else if $key == 'grow' {
							.flex-grow-#{$breakpoint}-#{$nestKey} {
								flex-#{$key}: #{$nestVal};
							}
						} @else if $key == 'width' {
							.w-#{$breakpoint}-#{$nestKey} {
								#{$key}: #{$nestVal};
							}
						} @else if $key == 'height' {
							.h-#{$breakpoint}-#{$nestKey} {
								#{$key}: #{$nestVal};
							}
						} @else if $key == 'border-radius' {
							.radius-#{$breakpoint}-#{$nestKey} {
								#{$key}: #{$nestVal};
							}
						} @else if $key == 'box-shadow' {
							.shadow-#{$breakpoint}-#{$nestKey} {
								#{$key}: #{$nestVal};
							}
						} @else {
							.#{$key}-#{$breakpoint}-#{$nestKey} {
								#{$key}: #{$nestVal};
							}
						}
					}
				}
			} @else {
				@each $nestKey, $nestVal in $val {
					@if $key == 'display' {
						.d-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					} @else if $key == 'direction' {
						.flex-#{$nestKey} {
							flex-#{$key}: #{$nestVal};
						}
					} @else if $key == 'wrap' {
						.flex-#{$nestKey} {
							flex-#{$key}: #{$nestVal};
						}
					} @else if $key == 'grow' {
						.flex-grow-#{$nestKey} {
							flex-#{$key}: #{$nestVal};
						}
					} @else if $key == 'width' {
						.w-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					} @else if $key == 'height' {
						.h-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					} @else if $key == 'border-radius' {
						.radius-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					} @else if $key == 'box-shadow' {
						.shadow-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					} @else {
						.#{$key}-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					}
				}
			}
		}
	}
}

@include utilities($utilities);
