
.docs-container{
    > .container{
        background: #eee;
        padding: 10px;
    }
}

.table{
    width: 100%;
    border-collapse: collapse;

    th{
        text-align: -webkit-match-parent;
        white-space: nowrap;
    }

    td{
        padding: 10px;
        border-bottom: 1px solid rgb(222, 226, 230);
        border-collapse: collapse;
        white-space: nowrap;
    } 
}
