.transparant70 {
    opacity: 0.7;
}
.transparant60 {
    opacity: 0.6;
}
.transparant50 {
    opacity: 0.5;
}
.offset-neg-top-145 {
    margin-top: -145px;
}

.transparent100 {
    opacity: 1;
}
.full-width {
    width: 100%;
}

.flex-50 {
    flex-basis: 50%;
}
.flex-100 {
    flex-basis: 100%;
}