/* 
$key: display,
$nestKey: block,
$breakpoint: xxl,
$breakpointVal: 1400,
*/

@mixin utilities($name) {
	@each $breakpoint, $breakpointVal in $grid-breakpoints {
		@each $key, $val in $name {
			@if $breakpoint != "xs" {
				@media screen and (min-width: $breakpointVal) {
					@each $nestKey, $nestVal in $val {
						.#{$key}-#{$breakpoint}-#{$nestKey} {
							#{$key}: #{$nestVal};
						}
					}
				}
			} @else {
				@each $nestKey, $nestVal in $val {
					.#{$key}-#{$nestKey} {
						#{$key}: #{$nestVal};
					}
				}
			}
		}
	}
}

@include utilities($utilities);
