.font-weight{
    @include m(thin){
        font-weight: getFontWeight('thin') !important;
    }
    @include m(normal){
        font-weight: getFontWeight('normal') !important;
    }
    @include m(bold){
        font-weight: getFontWeight('bold') !important;
    }
    @include m(bolder){
        font-weight: getFontWeight('bolder') !important;
    }
}

.lead-text{
    font-size: getFontSize("xlg");
}

.text--uppercase{
    text-transform: uppercase;
}

.text--center{
    text-align: center;
}

.warning--text{
    color: getColor("warning.base");
}
.flex--1{
    flex: 1;
}