.sidebar {
  width: 250px;
  height: 100%;
  position: sticky;
  top: 120px;
  padding: getSpacing("6x");
  background-color: getColor("black.black48");
  border-radius: 10px;
  @include m(bordered-right-1x) {
    // border-right: 1px solid getColor('blue-grey.light');
  }
}

.guide-content {
  flex: 1;
  @include e(inner) {
    padding-top: 120px;
  }
}
