/* #######################

@@usage::

// --> variant ("primary", "secondary") or as per defined in $theme-colors Map in "colors.scss" variable fils.
//       ## Usage:
//       btn--primary, btn--secondary
//       ## For outlined buttons:
//       btn--outlined--primary, btn--outlined--secondary
//

##########################*/

/* Button Defaults */
%btn-default {
    padding: 0.75rem 1.5rem 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: inherit;
    border-radius: 2px;
  
    &:disabled {
      cursor: not-allowed;
     background-color: getColor('grey.disabled');
      color: getColor('grey.disabled');
  
      &:hover {
        background-color: getColor('grey.disabled');
        color: getColor('grey.disabled');
      }
    }
  }

  .btn {
    @extend %btn-default;

    @include m(block) {
        display: block;
        width: 100%;
    }
  
    @include m(inline-block) {
      display: inline-block;
    }
  
    @include m(link) {
      background: transparent;
      color: getColor('primary.base');
  
      &:hover {
       color: getColor('secondary.base');
      }
    }

  }

  .btn-outlined {
    border-width: 2px;
    border-style: solid;
    font-size: 1.125rem;
    font-weight: 600;
   padding: getSpacing('3x') getSpacing('6x') getSpacing('2x');
  }


  .spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid getColor('secondary.base');
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.7s linear infinite;
    margin: -6px 8px 0 0;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @each $theme-color, $color in $theme-colors {
    .btn-#{$theme-color} {
      background-color: $color;
      color: getColor('white.base');
  
      &:hover {
        background-color: darken($color, 10%);
        color: getColor('white.base');
      }
    }

    //For Outline Buttons
    .btn-#{$theme-color}--outlined {
        border-color: $color;
        color: $color;

        &:hover {
          background-color: $color;
          color: getColor('white.base');
        }
      }
  }