//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;
$xxl-device: 1600px;

$respBreakpoints: (
  "sm": $sm-device,
  "md": $md-device,
  "lg": $lg-device,
  "xl": $xl-device,
  "xxl": $xxl-device,
);

//breakpoint width (min & max)
$respWidth: ("max-width", "min-width");
