// Default Color
$white: #ffffff !default;
$black: #000000 !default;

// Base colors
$primary-color: #FF6A39 !default;
$secondary-color: #16817F !default;
$blue: #435AFF !default;
$royal-blue: #001E62 !default;
$error-color: #DB193C !default;
$success-color: #86A814 !default;
$warning-color: #BAA613 !default;

//Color Palette
$colorMap: (
  "white": (
    "base": $white,
  ),
  "black": (
    "base": $black,
  ),
  "primary": (
    "base": $primary-color,
    "dark": darken($primary-color, 10%),
    "light": lighten($primary-color, 10%),
  ),
  "secondary": (
    "base": $secondary-color,
  ),
  "danger": (
    "base": $error-color,
  ),
  "success": (
    "base": $success-color,
  ),
  "blue": (
    "base": $blue,
    "royal": $royal-blue
  ),
  "warning" : (
    "base" : $warning-color
  ),
  "grey": (
    "stroke": #e7e8e9,
    "input-bg": #f8f8f8,
    "text": #131e29,
    "text60": rgba(#131e29, 0.6),
    "text36": rgba(#131e29, 0.36),
    "progress-bar-default" : #EEEFF0,
    "light": #D9DBDD,
    "icon": #AAAEB2,
    "stroke-light": #EEEFF0,
  )
);
