// Base Color
$white: #ffffff !default;
$black: #000000 !default;

$primary: #4fc3f7 !default;
$secondary: #66bb6a !default;

$green: #249F5D !default;
$red: #ef5350 !default;

//Color Palette

$colorMap: (
  "white": (
    "base": $white,
  ),
  "black": (
    "base": $black
  ),
  "primary": (
    "base": $primary,
    "dark": darken($primary, 10%),
    "light": lighten($primary, 10%),
  ),
  "secondary": (
    "base": $secondary,
    "dark": darken($secondary, 10%),
    "light": lighten($secondary, 10%),
  ),
  "danger": (
    "base": $red,
    "light": lighten($red, 10%),
    "dark": darken($red, 10%),
  ),
  "success": (
    "base": $green,
    "light": lighten($green, 10%),
    "dark": darken($green, 10%),
  ),
  "grey": (
    'base': #f5f8fa,
    'disabled': #e6ebee,
    '1': #f9f9f9,
    '2': #b8c2c8,
    '3': #959595,
    '4': #333333,
    '5': rgba($black, 0.2),
    '6': rgba($black, 0.6)
  )
);


// @@ This color map is used for Buttons
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'danger': getColor('danger.base'),
);
