// ==========================================================================
// Config
// Define variables, maps and fonts at this partial.
// ==========================================================================

//Enter your Web Address here for print media
$domain-name: 'www.domain-name.com';

//Path to Assets
$path--rel: '../images';

$base-index: 1;

$border-radius: 3px;
$status-indicator-size: 10px;

// Customize your prefix
$prefix: "lf";

// ==========================================================================
// Features
// Set true to enable features
// ==========================================================================

// Utility Classes

$generate-header-font-classes: true;
$generate-font-classes: true;