$display: (
	block: block,
	inline: inline,
	inline-block: inline-block,
	flex: flex,
	inline-flex: inline-flex,
	inline-table: inline-table,
	list-item: list-item,
	table: table,
	table-caption: table-caption,
	table-column-group: table-column-group,
	table-header-group: table-header-group,
	table-footer-group: table-footer-group,
	table-row-group: table-row-group,
	table-cell: table-cell,
	table-column: table-column,
	table-row: table-row,
	none: none,
);
