// Custom font url
$font-url: 'https://rsms.me/inter/inter.css' !default;
$font-custom: 'Inter' !default;

// Font Declaration
$font-sans : $font-custom, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
$font-primary: $font-sans;

//font-weight
$fontWeight: (
    "light": 300,
    "normal": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "heavy": 900
);

$fontSize : (
    "header": (
        "h1": (
            "font-size": 52px,
            "line-height": 63px
        ),
        "h2": (
            "font-size": 44px,
            "line-height": 53px
        ),
        "h3": (
            "font-size": 32px,
            "line-height": 39px
        ),
        "h4": (
            "font-size": 26px,
            "line-height": 31px
        ),
        "h5": (
            "font-size": 20px,
            "line-height": 24px
        ),
        "h6": (
            "font-size": 19px,
            "line-height": 23px
        )
    ),
    "font" : (
        "body1": (
            "font-size": 17px,
            "line-height": 21px
        ),
        "body2": (
            "font-size": 15px,
            "line-height": 18px
        ),
        "subheading": (
            "font-size": 22px,
            "line-height": 27px
        ),
        "caption": (
            "font-size": 20px,
            "line-height": 24px
        ),

    )
);

$fontDecoration: (
    "striked" : (
        "text-decoration" : "line-through"
    ),
    "underlined" : (
        "text-decoration" : "underline"
    ),
);

$fontCase: (
    "uppercase" : (
        "text-transform" : "uppercase"
    ),
    "lowercase" : (
        "text-transform" : "lowercase"
    ),
    "capitalized" : (
        "text-transform" : "capitalize"
    ),
);

$fontStyle: (
    "italic" : (
        "font-style" : "italic"
    )
);

$textAlignment: (
    "center" : (
        "text-alignment" : "center"
    ),
    "left" : (
        "text-alignment" : "left"
    ),
    "right" : (
        "text-alignment" : "right"
    ),
    "justified" : (
        "text-alignment" : "justify"
    ),
);


// Base font size
$base__line: 1.5 !default;
$base__font-size: 16px !default;