//Grid variables
$grid-count: 12 !default;
$grid-class: col !default;
$gutter-width: 32px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
) !default;

$grid-container: "container";
$grid-container-fluid: "container-fluid";
$row-name: "row";
$grid-type: flex; //type of grid (either 'float' or 'flex' only)
