// Custom font url
// $font-url: "https://rsms.me/inter/inter.css" !default;
$font-url: "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" !default;
$font-custom: "Inter" !default;

// Font Declaration
$font-sans: $font-custom, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-primary: $font-sans;

$font-sizes: (
	"h1": (
		"xs": 0px,
		"xl": 22px,
	),
	"h2": (
		"xs": 24px,
		"xl": 28px,
	),
	"h3": (
		"xs": 22px,
		"xl": 24px,
	),
	"h4": (
		"xs": 20px,
		"xl": 22px,
	),
	"h5": (
		"xs": 20px,
	),
	"h6": (
		"xs": 18px,
	),
	"p": (
		"xs": 16px,
		"xl": 18px,
	),
);

//font-weight
$fontWeight: (
	"thin": 100,
	"extralight": 200,
	"light": 300,
	"normal": 400,
	"medium": 500,
	"semibold": 600,
	"bold": bold,
	"extrabold": 800,
	"black": 900,
);

$fontDecoration: (
	"striked": line-through,
	"underline": underline,
);

$fontCase: (
	"uppercase": uppercase,
	"lowercase": lowercase,
	"capitalize": capitalize,
);

$fontStyle: (
	"normal": normal,
	"italic": italic,
	"oblique": oblique,
);

$textAlignment: (
	"center": center,
	"left": left,
	"right": right,
	"justify": justify,
);
