$btn-roundness: $border-radius;

$btn-base-text-color: getColor("white.base");

$btn-size: (
    "small" : (
        "height" : 24px,
        "font-size" : getFontSize("12"),
        "spacing": 0 getSpacing('2x')  
    ),
    "regular" : (
        "height" : 32px,
        "font-size" : getFontSize("14"),
        "spacing": 0 getSpacing('4x')  
    ),
    "large" : (
        "height" : 40px,
        "font-size" : getFontSize("14"),
        "spacing": 0 getSpacing('4x')  
    )
);

$btn-variant: (
    "primary": (
        "bg-color" : getColor("primary.base"),
        "hover-color" : getColor("primary.dark")
    ),
    "secondary": (
        "bg-color" : getColor("secondary.base"),
        "hover-color" : getColor("secondary.dark")
    ),
    "error": (
        "bg-color" : getColor("error.base"),
        "hover-color" : getColor("error.dark")
    ),
    "warning": (
        "bg-color" : getColor("warning.base"),
        "hover-color" : getColor("warning.dark")
    ),
    "warning-alt": (
        "bg-color" : getColor("warning-alt.base"),
        "hover-color" : getColor("warning-alt.dark")
    ),
    "grey": (
        "bg-color" : getColor("grey.light"),
        "hover-color" : getColor("grey.base")
    )
);
