.accordion {
  background: getColor("white.base");
  border: 1px solid getColor("blue-grey.base");
  width: 100%;
  border-radius: 3px;
  margin-bottom: rem(16, 16);
  &:last-child {
    margin-bottom: unset;
  }
  @include e(head) {
    padding: getSpacing("5x");
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include e(title) {
    color: getColor("black.base");
    display: block;
  }
  @include e(body) {
    border-top: 1px solid getColor("blue-grey.base");
    padding: getSpacing("5x");
  }
}
