.alert {
  display: flex;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;

  @include e(text) {
    vertical-align: middle;
    display: inline-block;
  }

  @include e(btn) {
    padding: 0;
    font-size: 18px;
  }

  @include m(primary) {
    border-color: $primary-color;
  }
}
