.avatar-container{
  position: relative;
  transform: translate3d(0,0,0);
  @include e(positioned-badge){
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
  }
}

.avatar{
  width: 38px;
  height: 38px;
  overflow: hidden;
  @include m(round) {
    border-radius: 100%;
  }
  @include m(lg){
    width: 120px;
    height: 120px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition;
  }
}