.btn {
  padding: 0 getSpacing("6x");
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 4px;
  font-size: getFontSize("body16");
  @include m(small) {
    height: 38px;
    border-radius: 2px;
  }
  @include m(block) {
    width: 100%;
  }
  @include m(lg) {
    font-size: getFontSize("article");
  }
  @include m(primary) {
    background-color: getColor("primary.base");
    color: $white;
    &:hover {
      background-color: getColor("primary.dark");
    }
    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  @include m(primary-20) {
    background-color: getColor("primary.20");
    color: getColor("primary.base");
    &:hover {
      background-color: getColor("primary.40");
    }
  }
  @include m(primary-outline) {
    border: 1px solid getColor("primary.base");
    color: getColor("primary.base");
    &:hover {
      background-color: getColor("primary.dark");
      color: $white;
    }
  }
  @include m(quiz) {
    border: 1px solid getColor("grey.borderGray");
    color: getColor("text.main");
    box-shadow: 0px 6px 0px rgba(217, 217, 217, 0.25);
    list-style-type: lower-alpha;
    &:hover {
      background-color: transparent;
      border: 1px solid getColor("text.main");
    }
    &:active {
      background-color: getColor("primary.base");
      color: $white;
      box-shadow: 0px 8px 4px rgba(104, 176, 247, 0.349185);
    }
    @include m(selected) {
      background-color: getColor("primary.base");
      color: $white;
      box-shadow: 0px 8px 4px rgba(104, 176, 247, 0.349185);
    }
  }
  @include m(left-aligned) {
    justify-content: flex-start;
  }
}
