// Footer SCSS

.footer-section {
  position: fixed;
  z-index: 1111;
  background: #fff;
  display: flex;
  top: 0;
  right: 0;
  writing-mode: tb;
  height: 100%;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
  opacity: 0.35;
  width: 10%;

  .social {
    display: flex;

    @include e(menu) {
      list-style-type: none;
    }
    @include e(links) {
      text-decoration: none;
      font-size: 18px;
      margin-bottom: 1rem;
      padding: 0 1rem;
      cursor: pointer;
      color: $black;

      &:hover {
        opacity: 0.35;
      }
    }
  }

  &:hover {
    opacity: 1;
  }
}
