.skeleton-bg{
  background-color: getColor("grey.borderGrayAlt");
  width: 100%;
}

.header-loader{
  height: 68px;
}

.title-h1-skeleton {
  height: 32px;
  width: 320px;
  background-color: getColor("grey.borderGrayAlt");
}

.skeleton-col{
  height: 120px;
  background-color: getColor("grey.borderGrayAlt");
  width: 100%;
}

@keyframes fade-in-out{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.skeleton-loader {
  * {
    animation: fade-in-out 3s infinite;
  }
}