.navbar {
  padding: 20px 0;
  background-color: getColor("black.black38");
  color: getcolor("color.base");
  position: sticky;
  top: 0;

  @include e(header) {
    h1 {
      font-size: 16px;
      color: getColor("white.base");
    }
  }

  @include e(flex) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include m(sticky) {
    position: sticky;
    top: 0;
    z-index: get("2up", $z-index);
  }
  @include m(bordered-bottom) {
    border-bottom: 1px solid getColor("blue-grey.light");
  }
  @include m(content-spread) {
    justify-content: space-between;
  }
  @include e(logo) {
    width: 130px;
    height: auto;
    margin-right: $navspacing * 2;
  }
  @include e(left) {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  @include e(node) {
    padding: 0 $navspacing;
  }
  @include e(link) {
    color: getColor("grey.xlight");
    @include m(active) {
      color: getColor("secondary.base");
      font-weight: getFontWeight("bold");
    }
  }
}
