.page {
  margin-top: 40px;
  color: getColor("black.base");
  @include e(title) {
    font-size: 2rem;
    font-weight: 300;
  }
  @include e(text) {
    font-size: 18px;
    color: getColor("black.base");
    margin: 12px 0 0;
  }
  @include e(content) {
    color: getColor("black.base");
    line-height: 18px;
    margin-top: 12px;
  }
  @include e(file-structure) {
    ul {
      li {
        list-style-type: disc;
        margin: 4px 0 0 20px;
        span {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }

  @include e(brief) {
    margin-top: 4px;
    line-height: 20px;
  }

  @include e(list-heading) {
    margin-top: 16px;
    display: block;
  }
  .content-block {
    margin: 16px 0;
  }
  .code-block {
    background-color: #f1f1f1;
    padding: 16px;
  }

  .usage-markup-preview {
    margin-bottom: 20px;
    @include m(m-top) {
      margin-top: 20px;
    }
  }
}

.color-box {
  p {
    color: getColor("primary.base");
  }
  .strong-title {
    margin-top: 8px !important;
    font-weight: bold;
  }
}
