.react-tabs{
    @include e(tab-list){
        display: flex;
        position: relative;
        text-transform: uppercase;
        font-size: getFontSize("12");
        margin-bottom: getSpacing('4x');
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: getColor("black.black20");
        }
    }
    @include e(tab){
        padding: getSpacing("3x") getSpacing("5x");
        cursor: pointer;
        // list-style: none !important;
        &:hover{
            color: getColor("black.black60");
        }
        @include m(selected){
            position: relative;
            color: getColor("black.base");
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: getColor("primary.base");
            }
        }
    }
}