.navbar{
    height: $navbar-height;
    display: flex;
    align-items: center;
    padding: 0 $navspacing;
    @include m(bordered){
        border-bottom: 1px solid getColor("grey.xxxxlight");
    }
    @include m(content-spread){
        justify-content: space-between;
    }
    @include e(logo){
        width: 130px;
        height: auto;
        margin-right: $navspacing * 2;
    }
    @include e(left){
        display: flex;
        align-items: center;
    }
}

.nav{
    display: flex;
    @include e(node){
        padding: 0 $navspacing;
    }
    @include e(link){
        color: getColor('grey.xlight');
        @include m(active){
            color: getColor('secondary.base');
            font-weight: getFontWeight("bold");
        }
    }
}
