.title{
    @include m(large){
        font-size: getFontSize("xlg");
        font-weight: 700;
    }
    @include m(medium){
        font-size: getFontSize("lg");
        font-weight: 600;
    }
    @include m(small){
        font-size: getFontSize("md");
        font-weight: 700;
    }
    @include m(smaller){
        font-size: getFontSize("sm");
        font-weight: 700;
    }
    @include m(smallest){
        font-size: getFontSize("xs");
        font-weight: 700;
    }
    @include m(dark){
        color: getColor('black.base');
    }
}